*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#F5FFC6,#B4E1FF,#AB87FF,#FFACE4,#C1FF9B);
}

#clicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 40vh;
    padding: 20px;
    border:2px solid black;
    gap:30px;
    border-radius: 50px;
}

#display{
    background-color: grey;
    width:80px;
    height:80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    text-wrap: nowrap;
    margin:0;
    padding: 0;
}

#show{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}

#buttons button{
    margin: 10px;
    height:50px;
    width:50px;
    border-radius: 50px;
    font-size:30px;
}

button:hover{
    background-color: black;
    color:white;
}


@media (max-width:480px){
    #clicker{
        height:60vh;
        width:60vh;
    }
}




