@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Montserrat,'Arial';
}

header{
    text-align: center;
    padding:10px;
    background-color: #7e898d;
    margin:20px;
    border-radius: 50px;
}

body{
    background-color: #5b686d;
}

#store{
    display:flex;
    flex-direction: row;
}
#items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    height: 80vh;
    width:70%;
    padding:40px;

}
.item img{
    width:128px;
    height:128px;
    border-radius: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: #f3edef;
    padding:10px;
    border:1px solid black;
    border-radius: 50px;
    height:30vh;
}

.item:hover{
    transform: translateY(-10px);
    background-color: #f3edef5d;
}


#carts{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 50px;
    margin:40px;
    background-color: white;
}
#cart{
    text-align: center;
    width:25vw;
    margin: 20px;
    padding: 20px;
}
#cart-item{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buy{
    width:10vw;
}

#cart h2{
    font-weight: bold;
    text-decoration: underline;
}
#cart p{
    text-align: left;
    padding: 5px;
    font-size: 24px;
}

.item button{
    padding:10px;
    border-radius: 50px;
}

.item button:hover{
    background-color: black;
    color:white;
}

#buy{
    padding:10px;
    border-radius:50px;
    margin-top:20px;
    margin-bottom:20px;
}

#bought{
    text-align: center;
}

#qr img{
    width:200px;
    height:200px;
    border:2px solid black;
    padding: 2px;
    margin:40px;
}

#container{
    display:flex;
    align-items: center;
    flex-direction: row;
    border:2px solid black;
    border-radius: 50px;
    width:70vw;
}

#payment{
    display: none;
    align-items: center;
    justify-content: center;
    height:80vh;
}

#payment-box{
    display: flex;
    align-items: flex-start;
    margin-left:30px;
    flex-direction: column;
    justify-content: space-evenly;
    height:280px;
    width:30vw;
}

#payment-box h2{
    font-size: 32px;
    text-decoration: underline;
}

#payment-box p{
    font-style: 28px;
    font-weight: bold;
    text-align: center;
}

#payment-box button{
    padding: 10px;
    border-radius: 50px;
}

#payment-box button:hover{
    background-color: black;
    color:white;
}

#center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:40vw;
    gap:20px;
}