*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding:20px;
    font-size:1em;
}
body{
    background-image: url("Assets/light-bg.jpg");
    background-size: cover;
}
main{
    display:grid;
    margin-top: 20px;
    margin-left: 20px;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(6,1fr);
}
img{
    width:64px;
    height:64px;
}
#head{
    flex:1;
    text-align: center;
    font-size: 1.2em;
    color:red;
}
#bgBox{
    margin-right: 20px;
}
.dark-mode {
    background-image: url("Assets/dark-bg.jpg");
    background-size:cover;
    color: white;
}

@media (max-width: 480px) {
    main{
        display:grid;
        margin-top: 20px;
        margin-left: 20px;
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: repeat(4,1fr);
    }
}
