@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bungee,'Arial';
    box-sizing: border-box;
}

h2{
    text-decoration: underline;
}

#container{
    background-image: linear-gradient(#085078,#9AE4CB);
    width:40vw;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
}

#text{
    text-align: center;
}

input{
    border-radius: 50px;
    height:40px;
}

button{
    width:60px;
    height:60px;
    border-radius: 50px;
}

#submit{
    text-align: center;
}

#task{
    margin-bottom: 20px;
}

button:hover{
    background-color: black;
    color:white;
}

#note p{
    font-size: 15px;
}


@media (max-width:768px){
    #container{
        height:90vh;
        width:100vw;
    }
}