*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    border:1px solid black;
    padding:10px;
    height:20vh;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50px;
    flex-direction: column;
    gap:20px;
}

input{
    text-align: center;
    border-radius: 50px;
    width:300px;
    height:40px;
}
button{
    border-radius: 50px;
    background-color: black;
    color:white;
    text-align: center;
}

button:hover{
    background-color: white;
    color:black;
}

button:active{
    background-color: grey;
    color:white;
}

#dark{
    width:64px;
    height:64px;
    border-radius: 50px;
    background-color: white;
    color:black;
}

#dark:hover{
    background-color: black;
    color: white;

}
#dark-mode{
    position: fixed;
    top:30px;
    right:30px;
}

.black{
    background-color: black;
}

@media (max-width:480px){
    #form{
        height:60vh;
        width:80vw;
    }
}
