*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#display{
    background-color: #E78F8E;
    width:30vw;
    height:30vh;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
}

#dis{
    height:5vh;
    width:10vw;
    text-align: center;
    font-size:40px;
}

#reset{
    width:50px;
    height:50px;
    border-radius: 50px;
}


@media (max-width:480px){
    #display{
        width:85vw;
        height:60vh;
        gap:40px;    
    }

    #dis{
        width:20vw;
    }
}



