@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Bitcount Prop Single",Arial;
}

body{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newmsg{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    width: 500px;
    padding:20px;   
    background-color: aliceblue;
    box-sizing: border-box;
    border-radius: 50px;
}

#msgform{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    width: 500px;
    padding:20px;   
    background-color: aliceblue;
    box-sizing: border-box;
    border-radius: 50px;
}
#head{
    background-color: black;
    width:100%;
    color: white;
    text-align: center;
    border-radius: 50px;
}
#sender{
    text-align: center;
}

#content{
    font-size: 1.5rem;
}

#back{
    position: fixed;
    bottom:30px;
    right:30px;
}
#back button{
    background-color: rgb(230, 230, 230);
    width:80px;
    height:80px;
    border-radius: 50px;
}

#back a{
    font-size: medium;
    color:black;
    text-align: center;
}